/* *****************************************
* Variables
* *****************************************/
:root {
    --col-darkblue: #0a0e31;
}



/* *****************************************
* Generics
* *****************************************/
body {
    color: #fff;
}


/* **********************************************************************************
? ELEMENTS
* ***********************************************************************************/

/* *****************************************
* Generator Card
* *****************************************/
.generator-card {
    background-color: var(--col-darkblue);
}


/* **********************************************************************************
? RESPONSIVE
* ***********************************************************************************/
